<%= form_for @changeset, @action, fn f -> %>

  <div class="my-6">
    <%= label f, :title %>
    <%= text_input f, :title %>
    <%= error_tag f, :title %>
  </div>

  <%= submit "Save" %>

<% end %>
