<div class="py-8 mx-auto max-w-md">

  <h1>All posts</h1>
  <%= for post <- @posts do %>
  
    <div class="mb-6">
      <a href="<%= Routes.admin_post_path(@conn, :edit, post.id) %>"><%= post.title %></a>
    </div>
  <% end %>

</div>
