<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc><%= Routes.page_url(@conn, :index) %></loc></url>
  <url><loc><%= Routes.page_url(@conn, :about) %></loc></url>
  <url><loc><%= Routes.page_url(@conn, :uses) %></loc></url>

  <%= for post <- @posts do %>
    <url><loc><%= Routes.post_url(@conn, :show, post.slug) %></loc></url>
  <% end %>
</urlset>
